@import "tailwindcss";

@theme {
  --color-terra-sand: #d8cfb3;
  --color-mint-green: #769375;
  --color-forest-green: #294121
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }
  .heading {
    @apply text-4xl font-bold text-white
  }
  .content {
    @apply text-white font-medium
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

body {
  /*  background: var(--background);
  color: var(--foreground); */
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
